* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden !important; /* Hide horizontal scrollbar */
}

.topNav-hide {
  transform: translateY(-100px);
  transition: 0.5s;
}

h5 {
  line-height: normal;
}

.root menu .navigation {
  opacity: 0.5;
  padding: 1.5rem;
  transition: 0.5s;
}
.root menu .navigation:hover {
  opacity: 1;
  transition: 0.5s;
}
.root menu .navigation .grow {
  flex: 1;
}
.root main {
  padding-top: 20rem;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.root main .main {
  height: 500px;
}
.root main .main-title {
  font-size: 3rem;
  font-weight: bold;
}
.root main .main h1, .root main .main h4 {
  overflow: hidden;
  display: flex;
  gap: 10px;
}
.root main .main #main-dynamic-word {
  color: blue;
  font-weight: bold;
  display: inline-block;
  overflow: hidden;
  animation: wordAnimation 2s ease-in-out infinite;
}
@keyframes wordAnimation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}
.root main .main #main_picture {
  position: absolute;
  top: 30px;
  right: -200px;
  width: 1200px;
  height: 700px;
}
.root main .second-block {
  border-radius: 40px;
  padding: 40px;
  height: 565px;
  transition: 1s;
}
.root main .second-block .main-block {
  color: white;
  text-align: center;
}
.root main .second-block .main-block .title {
  font-size: 40px;
  font-weight: bold;
}
.root main .second-block .main-block .sub-title {
  font-size: 25px;
}
.root main .second-block .cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 20px;
  cursor: default;
}
.root main .second-block .cards-container .card {
  width: 20rem;
  transition: 0.5s;
  z-index: 5;
}
.root main .second-block .cards-container .card:hover {
  transform: scale(1.1);
}
.root main .second-block .cards-container .card-second-block-hide {
  transform: translateY(-50px);
  opacity: 0;
}
.root main .second-block-hide {
  transform: translateX(-1000px);
  opacity: 0;
  transition: 1s;
}
.root main .third-block {
  display: flex;
  gap: 10px;
  padding: 20px;
}
.root main .third-block .card {
  width: 30rem;
}
.root main .third-block .card:hover {
  z-index: 1;
  transform: scale(1.1);
  transition: 0.5s;
}
.root main .third-block .card:not(:hover) {
  z-index: 0;
  transform: scale(1);
  transition: 0.5s;
}
.root main .third-block .card .card-title {
  font-size: 20px;
  font-weight: bold;
}
.root main .third-block .card .list-group li:hover {
  cursor: default;
  background-color: blue;
  color: white;
  transition: 0.5s;
}
.root main .about-us-block {
  position: relative;
  height: 600px;
}
.root main .about-us-block .title {
  font-size: 60px;
  font-weight: bold;
}
.root main .about-us-block .sub-title {
  font-size: 40px;
  max-width: 800px;
  font-weight: bold;
}
.root main .about-us-block .team-title {
  font-size: 32px;
}
.root main .about-us-block .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 22px;
  max-width: 800px;
}
.root main .about-us-block .cards div {
  cursor: default;
  border-radius: 20px;
  border: 1px solid blue;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: blue;
}
.root main .about-us-block .picture {
  height: 500px;
  width: 900px;
  position: absolute;
  top: 0;
  right: -230px;
  transform: scaleX(-1);
}
.root main .experts-block .title {
  font-size: 48px;
  font-weight: bold;
}
.root main .experts-block .sub-title {
  font-size: 40px;
  max-width: 800px;
  font-weight: bold;
}
.root main .experts-block .carousel {
  border-radius: 40px;
}
.root main .experts-block .carousel .carousel-caption div {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 40px;
  padding-top: 10px;
}
.root main .price-block .price-title {
  font-size: 48px;
  font-weight: bold;
}
.root main .price-block .cards {
  display: flex;
  gap: 10px;
  padding: 20px;
}
.root main .price-block .cards .card {
  width: 30rem;
}
.root main .price-block .cards .card:hover {
  z-index: 1;
  transform: scale(1.1);
  transition: 0.5s;
}
.root main .price-block .cards .card:not(:hover) {
  z-index: 0;
  transform: scale(1);
  transition: 0.5s;
}
.root main .price-block .cards .card .card-title {
  font-size: 20px;
  font-weight: bold;
}
.root main .faq-block .title {
  font-size: 48px;
  font-weight: bold;
}
.root main .faq-block .accordion {
  border: 1px solid gray;
  border-radius: 20px;
}
.root .container {
  margin-top: 20px;
}

@media screen and (min-width: 1920px) {
  #main_picture {
    right: -100px !important;
  }
}

/*# sourceMappingURL=style.css.map */
